body{

    margin:0;

    background:#DDF5E1;

    font-family:Kanit,sans-serif;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.card{

    background:white;

    padding:40px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 10px 20px rgba(0,0,0,.15);

}

button{

    padding:12px 30px;

    margin:10px;

    border:none;

    border-radius:30px;

    background:#9FD9B6;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:scale(1.08);

    background:#7EC89D;

}

.bunny{

    width:150px;

}

.photo{

    width:250px;

    border-radius:20px;

    margin-bottom:20px;

}

@keyframes fall{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(110vh);
    }

}
.bunny {
    width: 180px;
    animation: dance 0.8s infinite;
}

@keyframes dance {
    0% {
        transform: rotate(-3deg) scale(1);
    }
    50% {
        transform: rotate(3deg) scale(1.05);
    }
    100% {
        transform: rotate(-3deg) scale(1);
    }
}